<div class='row'>
    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : userNameForm.name.$invalid && !userNameForm.name.$pristine }">
        <ng-form name="userNameForm">
            <div class='col-md-4'>
                <label for="userName" class='col-md-2 control-label'>Nome</label>
                <input type="text" id="userName" placeholder="Nome Contribuinte" name="name" class="form-control col-md-offset-1" ng-model="user.name" required novalidate/>
            </div>
            <div class='col-md-2'>
                <span ng-show="userNameForm.name.$invalid && !userNameForm.name.$pristine" class="help-block">Campo obrigatório.</span>
            </div>
        </ng-form>
    </div>
</div>


<div class='row'>
    <!-- TELEFONE -->
    <div class="form-group" ng-class="{ 'has-error' : userEmailForm.telefone.$invalid && !userEmailForm.telefone.$pristine }">
        <ng-form name="userEmailForm">
            <div class='col-md-4'>
                <label for="userTelefone" class='col-md-2 control-label'>Telefone</label>
                <input type="text" id="userTelefone" placeholder="Telefone do Contribuinte" name="telefone" class="form-control col-md-offset-1" ng-model="user.telefone" ui-validate="'validateTelefone($value)'" novalidate/>
            </div>
            <div class='col-md-2'>
                <p ng-show="userEmailForm.telefone.$invalid && !userEmailForm.telefone.$pristine" class="help-block">Introduza um telefone válido.</p>
            </div>
        </ng-form>
    </div>
</div>
        

<div class='row'>
    <!-- NIF -->
    <div class="form-group" ng-class="{ 'has-error' : taxForm.nif.$invalid && !taxForm.nif.$pristine }">
        <div class='col-md-4'>
            <label>NIF</label>
            <input type="text" name="nif" class="form-control" ng-model="user.nif" ui-validate="'validateNif($value)'" novalidate/>
        </div>
    
        <div class='col-md-2'>
            <p ng-show="taxForm.nif.$invalid && !taxForm.nif.$pristine" class="help-block">Insira um nif válido.</p>
        </div>
    </div>
</div>

<div class='row'>
    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : taxForm.email.$invalid && !taxForm.email.$pristine }">
        <div class='col-md-4'>   
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email"/>
        </div>
    
        <div class='col-md-2'>
            <p ng-show="taxForm.email.$invalid && !taxForm.email.$pristine" class="help-block">Insira um email válido.</p>
        </div>
    </div>
</div>


<div class='row'>
    <!-- SEXO -->
    <div class='col-md-2'>
        <label>Sexo</label>
        <div class='row col-md-offset-2'>
            <label class="btn btn-primary" ng-model="user.sexo" btn-radio="'M'" uncheckable>M</label>
            <label class="btn btn-primary" ng-model="user.sexo" btn-radio="'F'" uncheckable>F</label>
        </div>
    </div>


    <!-- ESTADO CIVIL -->
    <div class="form-group">
        <div class='col-md-2'>
            <label>Estado Civil</label>
            <select ng-model="user.estadoCivil" ng-options="estadoCivil for estadoCivil in estadosCivis">
                <option value="">-- escolha Estado Civil --</option>
            </select>
        </div>
    </div>
</div>


<div class='row'>
    <!-- TEM CASA -->
    <div class='col-md-4'>
        <label>Possui algum dos seguintes items?</label>
            <ul class="list-unstyled col-md-offset-1">
                <li>
                    <label class="btn btn-success" ng-model="user.temCasa" btn-radio="true" uncheckable>Casa</label>
                </li>
                
                <li>
                    <label class="btn btn-success" ng-model="user.temCarro" btn-radio="true" uncheckable>Carro</label>
                </li>
            </ul>
    </div>
</div>
