<div class='form-group' ng-repeat='formStructure in form' ng-class='{{formStructure.formGroupNgClass}}'>
        <ng-form name='userFieldForm'>
            <div class='row col-md-1'>
                <label for='{{formStructure.labelFor}}'
                       class='{{formStructure.labelClass}}'>{{formStructure.labelText}}</label>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    <input type='{{formStructure.inputType}}'
                           id='{{formStructure.inputId}}' 
                           placeholder='{{formStructure.inputPlaceholder}}'
                           name='field'
                           ui-validate ='{{formStructure.inputValidate}}'
                           class='{{formStructure.inputClass}}'
                           ng-model='user[formStructure.inputNgModel]'
                           ng-required='{{formStructure.inputRequired}}'/>
                </div>
                <div class='col-md-3'>
                    <p></p>
                    <span ng-show='{{formStructure.errorNgShow}}' class="help-block">{{formStructure.errorText}}</span>
                </div>
            </div>
        </ng-form>
    </div>


<div class='row'>
    <!-- SEXO -->
    <div class='col-md-2'>
        <label>Sexo</label>
        <div class='row col-md-offset-2'>
            <label class="btn btn-primary" ng-model="user.sexo" btn-radio="'M'" uncheckable>M</label>
            <label class="btn btn-primary" ng-model="user.sexo" btn-radio="'F'" uncheckable>F</label>
        </div>
    </div>


    <!-- ESTADO CIVIL -->
    <div class="form-group">
        <div class='col-md-2'>
            <label>Estado Civil</label>
            <select ng-model="user.estadoCivil" ng-options="estadoCivil for estadoCivil in estadosCivis">
                <option value="">-- escolha Estado Civil --</option>
            </select>
        </div>
    </div>
</div>


<div class='row'>
    <!-- TEM CASA -->
    <div class='col-md-4'>
        <label>Possui algum dos seguintes items?</label>
            <ul class="list-unstyled col-md-offset-1">
                <li>
                    <label class="btn btn-success" ng-model="user.temCasa" btn-radio="true" uncheckable>Casa</label>
                </li>
                
                <li>
                    <label class="btn btn-success" ng-model="user.temCarro" btn-radio="true" uncheckable>Carro</label>
                </li>
            </ul>
    </div>
</div>
